
.body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  height: auto;
  margin: 0;
  padding: 0; 
}

.abfooter .container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.abfooter .row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #fff;
  padding: 70px 0;
}

.abfooter .footer-col {
  width: 25%;
  padding: 0 15px;
 box-sizing: border-box; 
}

.footer-col h4 {
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(86, 86, 229);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgb(78, 83, 83);
  padding-left: 8px;
}

.abfooter .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;

 
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  height: auto;
}
ul li img{
  height: auto;
  width: 4vh;
  justify-content: space-around;
}