@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Karla&display=swap');

.Promotion1 {
    margin-top: 10vh;
    height: auto;
    width: 100%;
   
    display: flex;
    
}

.Promotion1 img{
    height: 40vh;
    width: 140vh;
    transform: translateX(-10vh);
    
}

.Promotion1 h1{
    margin-top: 6vh;
    font-family: 'Jost', sans-serif;
}
.Promotion1 h3{
    margin-top: 30px;
    font-family: 'Karla', sans-serif;
}

.Promotion1 h3:hover,.Promotion1 h1:hover{
    color: rgb(15, 77, 128);
}

@media (max-width: 768px) {
    .Promotion1 {
        flex-direction: column;
        align-items: center;
    }

    .Promotion1 img {
        height: auto;
        width: 80%;
        max-height: 30vh;
        transform: none;
        margin-bottom: 20px;
    }
}