.Shirt-promo{
    margin-top: 20vh;
    width: auto;

}

.Shirt-promo-cont{ 
 
 display: flex;
 justify-content: space-between;
}

.Shirt-promo-cont img{
    width: auto;
    height: 90vh;
}
.Shirt-promo-content h1{
    color: rgb(78, 83, 83);
    font-weight: 1000;
    font-size: 100px;
}
.Shirt-promo-content h2{
    
    font-weight: 800;
    font-size: 60px;
}
.Shirt-promo-content h1:hover{
    color: rgba(187, 31, 39, 0.966);
   
}
.Shirt-promo-content h2:hover{
    
    color: rgba(187, 31, 39, 0.966);
}
