.today-cont{
    
    text-align: center;
}

.today-cont img{
    width: auto;
    height: 20rem;
}

.line{
    border: 1px dashed rgb(78, 83, 83);
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.today-cont h1{
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Jost', sans-serif;
    margin-top: 4rem;
}
.line2{
    border: 1px dashed rgb(78, 83, 83);
    
    margin-top: 4rem;
}